.clientes-container {
  padding: 20px;
  height: 100%;
  background-color: #99BED8;
}

.clientes-title {
  color: #003366;
  font-size: 4rem;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.form-title{
  margin-top: 20px;
}

.search-bar {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}

.clientes-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  border: 1px solid #ccc;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: white;
  padding-top: 25px;
  width: 60%;
}

.form-button{
  margin-top: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 95%
}

.input_text{
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 95%;
  height: 40px;
  padding-left: 10px;
  margin-right: 5px;
}

.clientes-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
}

.clientes-table th, .clientes-table td {
  border: 1px solid #003366;
  padding: 8px;
  text-align: left;
}

.clientes-table tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.patient-details-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.patient-details-title {
  color: #003366;
  font-size: 2rem;
  margin-bottom: 15px;
}

.patient-details {
  display: flex;
  flex-direction: column;
}

.patient-info, .patient-history {
  background: #ffffff;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.patient-info-header, .patient-history-header {
  color: #007acc;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.patient-info p {
  margin: 5px 0;
  font-size: 1rem;
}

.patient-prescriptions-header {
  color: #007acc;
  font-size: 1.5rem;
  margin-top: 15px;
}

.patient-history ul, .patient-history li {
  list-style-type: none; 
  padding: 0; 
  margin: 5px 0; 
  font-size: 1rem; 
}
